{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AI_DECOR_HUB</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static  'css/custom.css'%}" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
    />
    <!-- gLightbox gallery-->
    <link
      rel="stylesheet"
      href=" {% static  'okechuqu/glightbox/css/glightbox.min.css'%}"
    />
    <!-- Range slider-->
    <link
      rel="stylesheet"
      href="{% static  'okechuqu/nouislider/nouislider.min.css'%}"
    />
    <!-- Choices CSS-->
    <link
      rel="stylesheet"
      href="{% static  'okechuqu/choices.js/public/assets/styles/choices.min.css'%}"
    />
    <!-- Swiper slider-->
    <link
      rel="stylesheet"
      href="{% static  'okechuqu/swiper/swiper-bundle.min.css'%}"
    />
    <!-- Google fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap"
    />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="{% static  'css/style.default.css'%}"
      id="theme-stylesheet"
    />

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static  'img/favicons.png'%}" />
  </head>
  <body>
    {% block content%} {% endblock content%}
    <!-- JavaScript files-->
    <script src="{% static  'okechuqu/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static  'okechuqu/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static  'okechuqu/nouislider/nouislider.min.js'%}"></script>
    <script src="{% static  'okechuqu/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static  'okechuqu/choices.js/public/assets/scripts/choices.min.js'%}"></script>
    <script src="{% static  'js/front.js'%}"></script>
    <!-- FontAwesome CSS -->
  </body>
</html>
